<header>
    <h1>Surfboards</h1>
    <nav>
        <ul>
            <li>Types</li>
            <li>Tails</li>
            <li>Rocker</li>
            <li>Shapers</li>
        </ul>
    </nav>
</header>